body {
    margin: 0;
  }
  .container {
    border: 6px solid black;
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
  }
  .grid-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  .item-1 {
    background-color: #b4bf35;
    place-self: start end;
  }
  .item-2 {
    background-color: #b95f21;
    place-self: center;
  }
  .item-3 {
    background-color: #1c4c56;
  }
  .item-4 {
    background-color: #cfb276;
  }
  .item-5 {
    background-color: #6b0803;
  }
  .item-6 {
    background-color: #1596af;
  }
  .item-7 {
    background-color: #b95f21;
  }
  .item-8 {
    background-color: #01243a;
  }
  .item-9 {
    background-color: #0ff;
  }